element.style {
    height: 100%;
}
.con-kit-container [data-kit-align-vertical~=middle], .con-kit-container [data-kit-align-vertical~=middle] .con-kit-component-atom-list, [data-kit-align-vertical~=middle], [data-kit-align-vertical~=middle] .con-kit-component-atom-list {
    justify-content: center;
}
.con-kit-molecule-textBlock .con-kit-component-atom-list {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    z-index: 5;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
style attribute {
    --one-kit-padding: 0px;
    --color-text: 37,20,23;
    --alpha-text: 1;
    --color-bg: 255,255,255;
    --alpha-bg: 1;
    --color-border: 255,255,255;
    --alpha-border: 1;
}
.con-kit-molecule-textBlock {
    width: 100%;
    padding: 0;
    min-height: 40px;
    z-index: 5;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
[data-kit-radius~="4"] {
    --one-kit-radius: 4px;
}
[data-kit-frame] {
    --one-kit-frame-line-width: 1px;
    border: var(--one-kit-border-width,1px) solid transparent;
}
@media (max-width: 992px)
.con-kit-col[data-col-sm="24"] {
    --grid-col-current: 24;
    flex: 0 0 100%;
    max-width: 100%;
}
@media (max-width: 450px)
.con-kit-col {
    --horizontal-column-spacing: 24px;
    --vertical-column-spacing: 12px;
}
@media (max-width: 768px)
.con-kit-layout .con-kit-row {
    --__mfs-space_col_window: calc(var(--organism-bg-padding));
}
.con-kit-layout .con-kit-row {
    --__mfs-cols_with: calc(var(--grid-container__width-override, var(--grid-container__width)) / 24 * var(--grid-row__cols));
    --__mfs-not_use_cols_width: calc(var(--grid-container__width-override, var(--grid-container__width)) - var(--__mfs-cols_with));
    --__mfs-space_between_window: calc(var(--con-kit-window-width-override, var(--con-kit-window-width, 100vw)) - var(--grid-container__width-override, var(--grid-container__width)));
    --__mfs-space_col_window: calc(var(--__mfs-space_between_window) / 2);
}
.con-kit-row {
    --grid-row__cols: 24;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
}
style attribute {
    --color-text: 37,20,23;
    --alpha-text: 1;
    --color-bg: 255,255,255;
    --alpha-bg: 1;
    --color-border: 255,255,255;
    --alpha-border: 1;
}
.con-kit-organism:not(.con-kit-modal) .con-kit-container--style-transparent {
    --base-width: 100vw;
    --base-top: var(--layout-padding-top);
    --base-bottom: var(--layout-padding-bottom);
}
.con-kit-container[data-kit-container-radius~="0"] {
    --one-kit-container-radius: 0;
}
.con-kit-container [data-kit-align-horizontal~=center], [data-kit-align-horizontal~=center] {
    align-items: center;
    text-align: center;
}
@media (max-width: 768px)
.con-kit-container {
    --grid-container__width: 100vw;
}
.con-kit-container--style-transparent {
    --one-kit-container-padding: 0px;
}
.con-kit-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: var(--grid-container__width-override,var(--grid-container__width));
    color: rgba(var(--color-text),var(--alpha-text));
    transition: background-color .3s ease;
    position: relative;
    border-radius: var(--one-kit-container-radius);
    padding: var(--one-kit-container-padding);
}
@media (max-width: 768px)
.con-kit-layout {
    --layout-padding-top: calc((var(--section-padding-top) / 2) + var(--section-gap-top, 0px));
    --layout-padding-bottom: calc(var(--section-padding-bottom) / 2);
}
.con-kit-layout {
    --layout-padding-top: calc(var(--section-padding-top) + var(--section-gap-top, 0px));
    --layout-padding-bottom: var(--section-padding-bottom);
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: var(--layout-padding-top);
    padding-bottom: var(--layout-padding-bottom);
}
style attribute {
    z-index: 12;
    --color-bg: 255,255,255;
    --alpha-bg: 1;
    --color-text: 37,20,23;
    --alpha-text: 1;
}
style attribute {
    --one-kit-organism-padding: 100px;
    --section-padding-top: 0px;
    --section-padding-bottom: 130px;
}
.con-kit-section[data-kit-container-padding~=xl] {
    --one-kit-container-padding: 48px;
}
.con-kit-section {
    width: 100%;
    position: relative;
    --con-kit-window-width: calc(var(--vw, 1vw) * 100);
    --horizontal-column-spacing: calc(var(--one-kit-organism-padding) / 2);
    --vertical-column-spacing: calc(var(--one-kit-organism-padding) / 2);
    --organism-bg-padding: 24px;
    overflow: hidden;
}
style attribute {
    --font-kit-base-font: 16;
    --font-kit-contrast: 2;
    --font-kit-header-font: 'Tenor Sans';
    --font-kit-header-font-weight: 400;
    --font-kit-header-line-height: 1.3;
    --font-kit-header-letter-spacing: -1.2px;
    --font-kit-header-transform: none;
    --font-kit-text-font: 'Noto Sans KR';
    --font-kit-text-font-weight: 400;
    --font-kit-text-line-height: 1.5;
    --font-kit-text-letter-spacing: 0px;
    --font-kit-text-transform: none;
    --font-kit-text-font-weight-bold: 600;
    --color-kit-white: #FFFFFF;
    --color-kit-white-array: 255,255,255;
    --color-kit-black: #000000;
    --color-kit-black-array: 0,0,0;
    --color-kit-light: #EFECEA;
    --color-kit-light-array: 239,236,234;
    --color-kit-dark: #251417;
    --color-kit-dark-array: 37,20,23;
    --color-kit-key1: #DAC29D;
    --color-kit-key1-array: 218,194,157;
    --color-kit-key2: #DC663B;
    --color-kit-key2-array: 220,102,59;
}
.con-kit-site {
    --one-kit-border-width: 1px;
    --one-kit-atom-border-width: 1px;
    --one-kit-container-border-width: 1px;
}
.con-kit-site {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --font-kit-base-font: 16;
    --font-kit-contrast: 2;
}
[data-block-line-style=default], [data-block-line-style=lbox] {
    --one-kit-border-width: 1px;
}
:root {
    --molecule-resize: 80%;
}
:root {
    --molecule-resize: 80%;
}
:root {
    --atom-checkbox__display: flex;
    --atom-checkbox__width: 100%;
    --atom-checkbox__margin--bottom: 17px;
    --atom-checkbox__opacity: 1;
    --atom-checkbox__input__size: 16px;
}
:root {
    --molecule-resize: 80%;
    --molecule-form__frame__padding: 34px;
    --molecule-form__frame__border-radius: 4px;
    --molecule-form__input__display: block;
    --molecule-form__input__width: 100%;
    --molecule-form__input__height: 56px;
    --molecule-form__input__padding--side: 16px;
    --molecule-form__input__margin--bottom: 17px;
    --molecule-form__input__border-radius: 4px;
    --molecule-quiz__option__min-width: 23%;
    --molecule-quiz__option__row-count: 4;
    --molecule-quiz__step-width: 600px;
    --molecule-form__input__line-height: 24px;
    --molecule-form__input__dropdown--line-height: 16px;
    --molecule-form__input__border--width: 1px;
    --molecule-form__input__border--style: solid;
    --molecule-form__modal__width: 450px;
    --molecule-form__modal__height: 30vh;
    --molecule-form__modal__padding: 80px;
    --molecule-form__horizontal-align: center;
    --molecule-form__vertical-align: center;
}
:root {
    font-family: var(--font-kit-family,-apple-system,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,"helvetica neue","calibri light",Roboto,sans-serif);
    font-weight: var(--font-kit-weight,400);
    font-size: var(--font-kit-size,14px);
    line-height: var(--font-kit-line-height,24px);
    letter-spacing: var(--font-kit-letter-spacing,0);
    font-style: var(--font-kit-style,normal);
    text-transform: var(--font-kit-text-transform,none);
    text-align: var(--atom-link__text-align,left);
}
:root {
    --atom-textarea__display: block;
    --atom-textarea__width: 100%;
    --atom-textarea__padding: 15px 20px;
    --atom-textarea__margin--bottom: 17px;
    --atom-textarea__opacity: 1;
}
:root {
    --atom-dropdown__padding: 15px 20px;
    --atom-dropdown__display: block;
    --atom-dropdown__width: 100%;
}
:root {
    --atom-video__width: 100%;
    --atom-video__min-height: 150px;
    --atom-video__margin--bottom: 0;
    --atom-video__play-radius: 50%;
    --atom-video__play__triangle-size: 14px;
    --atom-video__play-background-opacity: 1;
    --atom-video__play_extra-large-size: 88px;
    --atom-video__play_large-size: 80px;
    --atom-video__play_medium-size: 72px;
    --atom-video__play_small-size: 64px;
    --atom-video__modal-width: 800px;
    --atom-video__modal-height: 450px;
}
:root {
    --atom-image__width: 100%;
    --atom-image__margin--bottom: 0;
    --atom-image__position: relative;
    --atom-image__background--position: center;
    --atom-image__background--size: cover;
    --atom-image__transition: background-image 1s ease;
}
:root {
    --atom-checkbox__display: flex;
    --atom-checkbox__width: 100%;
    --atom-checkbox__margin--bottom: 17px;
    --atom-checkbox__opacity: 1;
    --atom-checkbox__input__size: 16px;
}
html {
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    box-sizing: border-box;
}
*, :after, :before {
    box-sizing: border-box;
}
﻿
main.bundle.js:1 Progressive Hydration section 3
main.bundle.js:1 Progressive Hydration section 2
main.bundle.js:1 Progressive Hydration section 1
﻿

